In [4]:
import matplotlib.pyplot as plt
from sklearn import linear_model
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_extraction import DictVectorizer
import pandas as pd
import eli5
from eli5.sklearn import PermutationImportance

%matplotlib inline

Using TensorFlow backend.

In [5]:
## Load the data set that got dummified to process feature selection.
train = pd.read_csv('./df_train_cleaned.csv')
test = pd.read_csv('./df_test_cleaned.csv')
print(train.shape)
print(test.shape)

(89407, 51)
(9933, 51)

In [6]:
train.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,...,metformin-pioglitazone,change,diabetesMed,readmitted,level1_diag1,level1_diag2,level1_diag3,med_dosage_change,number_of_medicine,random
0,0,0,0,7733208,3291489,1,0,65,1,1,...,0,0,0,0,4.0,7.0,0.0,0,0,785
1,1,1,1,152449578,84529188,1,1,45,1,2,...,0,0,0,0,0.0,1.0,0.0,0,0,44
2,2,2,2,440311646,121372727,1,1,45,1,3,...,0,1,1,0,6.0,6.0,6.0,1,1,651
3,3,3,3,106684962,24066279,1,0,85,5,3,...,0,1,1,0,2.0,0.0,0.0,0,3,-878
4,4,4,4,139779162,86645961,2,1,65,1,4,...,0,1,1,0,1.0,7.0,1.0,0,3,631

In [7]:
test.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,...,metformin-pioglitazone,change,diabetesMed,readmitted,level1_diag1,level1_diag2,level1_diag3,med_dosage_change,number_of_medicine,random
0,89407,91587,0,110939484,19274094,1,0,75,1,1,...,0,0,1,0,4.0,7.0,0.0,0,1,625
1,89408,91588,1,170328306,65634327,1,1,55,1,1,...,0,0,1,0,0.0,1.0,0.0,0,1,293
2,89409,91589,2,245688426,100657359,1,0,65,3,6,...,0,0,1,0,6.0,6.0,6.0,0,1,44
3,89410,91590,3,150826224,83144448,1,1,35,2,1,...,0,0,1,0,2.0,0.0,0.0,0,1,-475
4,89411,91591,4,135993852,65234214,2,0,65,1,2,...,0,0,1,1,1.0,7.0,1.0,0,1,257

In [8]:
# machine learning
import warnings

from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.metrics import log_loss, accuracy_score, mean_squared_error, r2_score, precision_score, recall_score, roc_auc_score

from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
# from boruta import BorutaPy
from xgboost import XGBClassifier, XGBRanker
from scipy.stats import skew

print(__doc__)

# Definitions
pd.set_option('display.float_format', lambda x: '%.3f' % x)
%matplotlib inline
warnings.filterwarnings('ignore')

Automatically created module for IPython interactive environment

In [9]:
# Create X and y for train and test sets 
X = train.drop('readmitted', axis=1)
y = train['readmitted']

X_test = test.drop('readmitted', axis=1)
y_test = test['readmitted']


# Check the shape
print(X.shape)
print(y.shape)
print(X_test.shape)
print(y_test.shape)

(89407, 50)
(89407,)
(9933, 50)
(9933,)

In [10]:
# split train data set in train and test sets for model training
X_train, X_dev, y_train, y_dev = train_test_split(X, y, test_size=0.20, random_state=42)

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
X_train, X_dev, Y_train, Y_dev = train_test_split(X, y, test_size=0.20, random_state=0)
logreg = LogisticRegression(fit_intercept=True, penalty='l1')
print("Cross Validation Score: {:.2%}".format(np.mean(cross_val_score(logreg, X_train, Y_train, cv=10))))
logreg.fit(X_train, Y_train)
print("Dev Set score: {:.2%}".format(logreg.score(X_dev, Y_dev)))

Cross Validation Score: 88.68%
Dev Set score: 88.30%

In [12]:
Y_dev_predict = logreg.predict(X_dev)

In [13]:
pd.crosstab(pd.Series(Y_dev, name = 'Actual'), pd.Series(Y_dev_predict, name = 'Predict'), margins = True)

Predict     0   1   All
Actual
0        3079   9  3088
1         431   2   433
All      3510  11  3521

In [14]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
print("Accuracy is {0:.2f}".format(accuracy_score(Y_dev, Y_dev_predict)))
print("Precision is {0:.2f}".format(precision_score(Y_dev, Y_dev_predict)))
print("Recall is {0:.2f}".format(recall_score(Y_dev, Y_dev_predict)))
print("AUC is {0:.2f}".format(roc_auc_score(Y_dev, Y_dev_predict)))

Accuracy is 0.88
Precision is 0.49
Recall is 0.02
AUC is 0.51

In [ ]:
# import statsmodels.api as sm
# logit = sm.Logit(Y_train, X_train)

# result = logit.fit()

# # from scipy import stats

# print(result.summary())

- From the result above, data donot balance. Need to apply data balancing to the calculation.

## Applying SMOTE method to balance the dataset

In [41]:
# Data balancing applied using SMOTE
from imblearn.over_sampling import SMOTE

from collections import Counter
print('Original dataset shape {}'.format(Counter(y)))
sm = SMOTE(random_state=20)
X_new, y_new = sm.fit_sample(X, y)
print('New dataset shape {}'.format(Counter(y_new)))

Original dataset shape Counter({0: 52507, 1: 3935})
New dataset shape Counter({0: 52507, 1: 52507})

In [42]:
X_new = pd.DataFrame(X_new, columns = list(X.columns))

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
X_train, X_dev, Y_train, Y_dev = train_test_split(X_new, y_new, test_size=0.20, random_state=0)
logreg = LogisticRegression(fit_intercept=True, penalty='l1')
print("Cross Validation Score: {:.2%}".format(np.mean(cross_val_score(logreg, X_train, Y_train, cv=10))))
logreg.fit(X_train, Y_train)
print("Dev Set score: {:.2%}".format(logreg.score(X_dev, Y_dev)))

Cross Validation Score: 61.61%
Dev Set score: 61.58%

In [44]:
Y_dev_predict = logreg.predict(X_dev)

In [45]:
pd.crosstab(pd.Series(Y_dev, name = 'Actual'), pd.Series(Y_dev_predict, name = 'Predict'), margins = True)

Predict      0      1    All
Actual
0         6372   4164  10536
1         3905   6562  10467
All      10277  10726  21003

In [46]:
print("Accuracy is {0:.2f}".format(accuracy_score(Y_dev, Y_dev_predict)))
print("Precision is {0:.2f}".format(precision_score(Y_dev, Y_dev_predict)))
print("Recall is {0:.2f}".format(recall_score(Y_dev, Y_dev_predict)))
print("AUC is {0:.2f}".format(roc_auc_score(Y_dev, Y_dev_predict)))

accuracy_logreg = accuracy_score(Y_dev, Y_dev_predict)
precision_logreg = precision_score(Y_dev, Y_dev_predict)
recall_logreg = recall_score(Y_dev, Y_dev_predict)
auc_logreg = roc_auc_score(Y_dev, Y_dev_predict)

Accuracy is 0.62
Precision is 0.61
Recall is 0.63
AUC is 0.62